In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('201306-citibike-tripdata.csv')

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,1.0
1,693,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649.0,Subscriber,1984.0,1.0
2,2059,6/1/13 0:00,6/1/13 0:35,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599.0,Customer,NaN,0.0
3,123,6/1/13 0:01,6/1/13 0:03,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352.0,Subscriber,1960.0,1.0
4,1521,6/1/13 0:01,6/1/13 0:26,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567.0,Subscriber,1983.0,1.0

In [4]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [16]:
df.isna().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [8]:
df.shape

(469648, 15)

In [9]:
df = df[df['end station id'].notna()]
df.shape

(454915, 15)

In [10]:
df = df[df['end station name'].notna()]
df.shape

(454915, 15)

In [12]:
df = df[df['bikeid'].notna()]
df.shape

(454914, 15)

In [13]:
df = df[df['end station latitude'].notna()]
df.shape

(454914, 15)

In [15]:
df = df[df['birth year'].notna()]
df.shape

(255058, 15)

In [17]:
df.to_csv('formatted_data.csv',index=False)